#sfondoimmagine {
    height: 2rem;
}
.scrittacolore {
    color: blue;
}

.evidenzia {
    background: yellow;
}

thead {
    color: white;
    background-color: blue;
}

.trcolorato {
    background-color: aqua;
}