#logo {
    height: 2rem;
}

#pattern {
    background-color: aqua;
    position:relative;
    right: auto;
}


.scrittacolore {
    color: blue;
}

.evidenzia {
    background: yellow;
}

thead {
    color: white;
    background-color: blue;
}

.trcolorato {
    background-color: aqua;
}

.scrittaimmagine {
   
}